<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ImageGalleryRIA</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:TODO_INSERT_PORT/db_image_gallery_ria</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>TODO_INSERT_USERNAME</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>TODO_INSERT_PASSWORD</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <filter>
    <filter-name>LoginChecker</filter-name>
    <filter-class>it.polimi.tiw.lf.gallery.filters.LoginChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginChecker</filter-name>
    <url-pattern>/AddComment</url-pattern>
    <url-pattern>/GetAlbumsList</url-pattern>
    <url-pattern>/GetCommentsList</url-pattern>
    <url-pattern>/GetImagesList</url-pattern>
    <url-pattern>/UpdateAlbumsOrder</url-pattern>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/home.html</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>